<ion-header>
    <ion-toolbar>
        <ion-title>Informations</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="route"></div>
    <ion-card>
        <ion-card-content>
            
            <ion-item-divider>
                <div id="orderStateLabelContainer">
                    <div>
                        <ion-label>
                            STATUS DER BESTELLUNG
                        </ion-label>
                    </div>
                    <div id="orderStateLabelColor">
                        <ion-label>
                            Auftrag angenommen
                        </ion-label>
                    </div>
                </div>
            </ion-item-divider>
            <ion-item-divider>
                <div id="orderDescriptionLabelContainer">
                    <div>
                        <ion-label>
                            BESCHREIBUNG
                        </ion-label>
                    </div>
                    <div id="orderDescriptionLabelColor">
                        <ion-label text-wrap>
                            {{task.description}}
                        </ion-label>
                    </div>
                </div>
            </ion-item-divider>
            <ion-button class="swipeButton" color="dark" fill="outline" shape="round" size="default" (click)="startTask()">
                Paket abgeholt
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>