<ion-header>
    <ion-toolbar color="primary">
        <ion-title>PTS App Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-card>
        <ion-card-header>
            <ion-toolbar>
                <ion-segment color="tertiary" scrollable mode="md" [(ngModel)]="segmentModel" value="login" (ionChange)="segmentChanged($event)">
                    <ion-segment-button value="login">
                        <ion-label>Login</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="register">
                        <ion-label>Register</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-toolbar>
        </ion-card-header>

        <ion-card-content *ngIf="segmentModel == 'login'">

            <ion-item lines="none">
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="credentialsLogin.email"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentialsLogin.password"></ion-input>
            </ion-item>

            <ion-button (click)="login()" expand="block">Login</ion-button>

        </ion-card-content>

        <ion-card-content *ngIf="segmentModel == 'register'">
            <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                <ion-item lines="none">
                    <ion-label position="stacked">
                        Username
                        <span *ngIf="formInputIsRequired('username')" class="required">&#42;</span>
                    </ion-label>
                    <ion-input formControlName="username" type="text" placeholder="Username" name="uname"></ion-input>
                </ion-item>

                <div *ngIf="formRegister.controls.username.pending">
                    <p>Checking username...</p>
                </div>

                <div *ngIf="!formRegister.controls.username.valid && !formRegister.controls.username.pending && formRegister.controls.username.dirty">
                    Sorry, that username can not be used!
                </div>

                <ion-item lines="none">
                    <ion-label position="stacked">
                        Firstname
                    </ion-label>
                    <ion-input formControlName="firstname" type="text" placeholder="Firstname" name="fname"></ion-input>
                </ion-item>

                <div *ngIf="!formRegister.controls.firstname.valid && !formRegister.controls.firstname.pending && formRegister.controls.firstname.dirty">
                    Sorry, that username can not be used!
                </div>

                <ion-item lines="none">
                    <ion-label position="stacked">
                        Lastname
                    </ion-label>
                    <ion-input formControlName="lastname" type="text" placeholder="Lastname" name="lname"></ion-input>
                </ion-item>

                <div *ngIf="!formRegister.controls.lastname.valid && !formRegister.controls.lastname.pending && formRegister.controls.lastname.dirty">
                    Sorry, that username can not be used!
                </div>

                <ion-item lines="none">
                    <ion-label position="stacked">
                        Password
                    </ion-label>
                    <ion-input formControlName="rPassword" type="password" placeholder="Password" name="pwd"></ion-input>
                </ion-item>

                <div *ngIf="!formRegister.controls.rPassword.valid  && formRegister.controls.rPassword.dirty">
                    Please enter a valid password.
                </div>

                <ion-item lines="none">
                    <ion-label position="stacked">
                        Confirm Password
                    </ion-label>
                    <ion-input formControlName="cPassword" type="password" placeholder="Confirm Password" name="cPwd"></ion-input>
                </ion-item>

                <div *ngIf="formRegister.controls.cPassword.errors?.mustMatch && formRegister.controls.cPassword.dirty">
                    Passwords must match!
                </div>

                <ion-item lines="none">
                    <ion-label position="stacked">Sex</ion-label>
                    <ion-select formControlName="sex" placeholder="Please select gender">
                        <ion-select-option value="male">Male</ion-select-option>
                        <ion-select-option value="female">Female</ion-select-option>
                        <ion-select-option value="diverse">Diverse</ion-select-option>
                    </ion-select>
                </ion-item>
                <!--</form>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <ion-item lines="none">
                    <ion-label position="stacked">
                        Username
                        <span *ngIf="formInputIsRequired('username')" class="required">&#42;</span>
                    </ion-label>
                    <ion-input formControlName="username" type="text" placeholder="Username" name="uname"></ion-input>
                </ion-item>

                <ion-item lines="none">
                    <ion-label position="stacked">
                        Firstname
                    </ion-label>
                    <ion-input formControlName="firstname" type="text" placeholder="Firstname" name="fname"></ion-input>
                </ion-item>

                <!--<ion-item lines="none">
                    <ion-label position="stacked">
                        Firstname
                    </ion-label>
                    <ion-input type="text" placeholder="Firstname" name="fname"></ion-input>
                </ion-item>

                <ion-item lines="none">
                    <ion-label position="stacked">
                        Lastname
                    </ion-label>
                    <ion-input type="text" placeholder="Lastname" name="lname"></ion-input>
                </ion-item>

                <ion-item lines="none">
                    <ion-label position="stacked">
                        Password
                        <span *ngIf="formInputIsRequired('username')" class="required">&#42;</span>
                    </ion-label>
                    <ion-input type="password" placeholder="Password" name="pwd"></ion-input>
                </ion-item>

                <ion-item lines="none">
                    <ion-label position="stacked">
                        Confirm Password
                        <span *ngIf="formInputIsRequired('username')" class="required">&#42;</span>
                    </ion-label>
                    <ion-input type="password" placeholder="Confirm Password" name="cPwd"></ion-input>
                </ion-item>

                <ion-item lines="none">
                    <ion-label position="stacked">Sex</ion-label>
                    <ion-select>
                        <ion-select-option value="" checked="true">Please select gender</ion-select-option>
                        <ion-select-option value="male">Male</ion-select-option>
                        <ion-select-option value="female">Female</ion-select-option>
                        <ion-select-option value="diverse">Diverse</ion-select-option>
                    </ion-select>
                </ion-item>-->

                <ion-button *ngIf="!secondPage" type="submit" [disabled]="!formRegister.valid" expand="block">Next</ion-button>
            </form>


            <!--

      <ion-item lines="none">
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="credentials.email"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Phone number</ion-label>
        <ion-input type="text" placeholder="Phone number" name="phone" [(ngModel)]="credentials.email"></ion-input>
      </ion-item>

      -->

        </ion-card-content>
    </ion-card>

</ion-content>