ion-grid {
    padding: 0%;
}

ion-col {
    padding: 0%;
}

.required {
    color: red;
}

.invalid {
    border: 1px solid #ea6153;
}

.loginSender {
    margin: auto;
    margin-top: 0.75rem;
    text-align: center;
}